* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Arla";
    src: url("fonts/ArlaIF_W_Rg.woff");
}

@font-face {
    font-family: "Arla";
    src: url("fonts/ArlaIF_W_Th.woff");
    font-weight: 100;
}

@font-face {
    font-family: "Arla";
    src: url("fonts/ArlaIF_W_Lt.woff");
    font-weight: 300;
}

@font-face {
    font-family: "Arla";
    src: url("fonts/ArlaIF_W_Bd.woff");
    font-weight: 600;
}

@font-face {
    font-family: "Arla";
    src: url("fonts/ArlaIF_W_Blk.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Arla";
    src: url("fonts/ArlaIF_W_It.woff");
    font-style: italic, oblique;
}

body {
    font-family: 'Arla', sans-serif;
    font-weight: 400;
    color: #434343;
    font-size: 20px;
    line-height: 1.6;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

#nav-container {
    position: fixed;
    width: 90px;
    height: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.3);

}
.red{
    color: red;
}
.green{
    color: green;
}
.logo {
    display: block;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
}

.logo img {
    width: 60px;
}

.main-nav {
    padding-top: 100px;
    height: 100%;
}

.main-nav>.nav-item {
    margin-bottom: 1px;
}

.main-nav>.nav-item>a {
    font-size: .6em;
}

.main-nav .nav-link {
    display: block;
    padding: 15px 5px;
    width: 100%;
    color: #004719;
    line-height: 1em;
    z-index: 0;
}

.main-nav .nav-link .icon {
    display: block;
    margin: 0 auto 5px auto;
    width: auto;
    height: 25px;
    position: relative;
    z-index: 2;
}
.active {
  background-color: #e5e5e5;
  border-right:3px solid #006C3A ;
  box-shadow: 7px 0 9px 0px rgba(0, 0, 0, 0.3);
}

main {
    width: 100%;
    padding: 0 0 0 90px;
}

.page {
    min-height: 100vh;
    background-color: white;
}

#profile-page {
    background-color: #f0f0f0;
}

#profile-header {
    height: 250px;
    display: flex;
    width: 100%;
}

#profile-personal-info {
    width: 25%;
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-personal-info ul {
    margin: 0 auto;
}

#profile-sust-score {
    background-color: #DAEFD4;
    width: 75%;
}

#profile-sust-score h3 {
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#total-score-element {
    margin: 0 auto;
    text-align: center;
}

#total-score-element img {
    width: 80px;
    margin-bottom: 10px;
}

#total-score-element h2 {
    font-size: 1em;
    color: #137749;
    font-weight: 300;
}

#total-score-element p {
    font-size: .6em;
    color: #869382;
}

#total-score-element>.total-score {
    font-size: 1em;
    color: black;
}

.score-element {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.score-icon {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.score-icon img {
    width: 100%;
}

.score-text {
    text-align: left;
}

.score-text h2 {
    font-size: .8em;
    color: #137749;
    font-weight: 300;
}

.score-text p {
    font-size: .5em;
    color: #869382;
}

.score-text>.total-score {
    font-size: .8em;
    color: black;
}

/* PROFILE BODY START */
.page-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

#report-message {
    width: 100%;
    display: flex;
    height: 50px;
    line-height: 50px;
    box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);

}

#report-message a {
    width: 20%;
    height: 100%;
    font-size: 0.6em;
    text-align: center;
    background-color: red;
    color: white;

}

#report-message-info {

    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#report-message-info p{
    font-size: .7em;
}

/* styling for navigation in the profile */

#profile-nav {
    display: flex;

    margin-top: 1em;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    background-color: white;
    width: 100%;



}

#profile-nav li:hover {
  background-color: #e5e5e5;
}

.activeNav {
  background-color: #e5e5e5;
  border-bottom: 5px solid #006C3A;
  height: 100%;
  padding: 0;

}

#profile-nav li {
  text-decoration: none;
  color: #000;
  padding: 10px;
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  height: 50px;
  line-height: 30px;
  font-size: .8em;
cursor: pointer;
}

#profile-nav li::before{
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 10px;
}
#previous-reports-tab::before{
    background-image: url('../img/report_icon.png');
}
#statistics-tab::before{
    background-image: url('../img/chart_icon.png');
}
#settings-tab::before{
    background-image: url('../img/setting_icon.png');
}

/* Profile Charts */
.chart-container{
    width: 60%;

}
/* Report page */

#report-page .page-header>h2 {
    font-size: 3em;
}

#report-page .page-header {
    width: 60%;
    margin: 0 auto;
}

#report-description>h4 {
    font-size: 1em;
}

#report-description>p {
    font-size: .8em;
}

#report-body {
    padding-top: 50px;
}

#report-body>form>ul li {
    margin-bottom: 10px;
}

.category {
    margin: 0 auto;
    display: flex;
    width: 50%;
    background-color: #E5E5E5;
    height: 50px;
    line-height: 50px;
    transition: 0.4s;
    cursor: pointer;

}

.questions-wrapper {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.category-icon {
    width: 15%;
    background-color: green;
    text-align: center;
}

.category-icon img {
    height: 80%;
}

.category-title {
    width: 60%;
    padding-left: 20px;
}

.category-progress {
    width: 15%;
    color: white;
    background-color: #7C8180;
    text-align: center;
}

.category-arrow {
    width: 10%;
    color: white;
    background-color: #363E42;
    text-align: center;
}
.arrow::before{
    content: "\f054";
    transition: .4s;
}
.activeCategory>.category-arrow>.arrow::before{
    display: inline-block;
    transform: rotate(90deg);
    transition: .4s;
}
.questions-info{
    margin-top: 30px;
}
.questions-info a{
    color: black;
    text-decoration: underline;
}
.questions-holder{
    margin-top: 20px;
}
.question-text{
    width: 65%;
}
.question{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 50px;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}
.question>input{
    width: 100px;
}
.comparison-wrapper{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.compared{
    text-align: center;
    line-height: 40px;
}
.compared p{
    line-height: 0;
    font-size: .6em;
}
.comparison-wrapper span{
    display: none;
}
.button{
    color: white;
    background-color: green;
    padding: 10px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
#save-changes{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#submit{
    background-color: gray;
    margin: 10px auto;
}


@media only screen and (max-width: 1024px){

#profile-header {
  flex-direction: column;
  height: auto;
}

#profile-sust-score {
  width: 100%;
}

#profile-personal-info {
  width: 100%;
  text-align: center;
}

#profile-personal-info ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#profile-personal-info li {
  padding: 5px;
}

.score-container {
  padding: 1em 0 .5em;
}

.score-container .score:nth-child(1){
  order: 2;
}

.score-container .score:nth-child(2){
  order: 1;
}

.score-container .score:nth-child(3){
  order: 3;
}

#profile-sust-score {
  padding: 1em;
}

#profile-nav{
  margin: 2em auto .7em;
}

#report-message a{
  font-size: .5em;
  width: 25%;
}

#report-message-info{
  width: 75%;
  font-size: .9em
}
#profile-personal-info h2 {
  display: none;
}


}

@media only screen and (max-width: 768px){

.score-container {
  display: block;

}

.score-element{
  padding-left: 1em;
  margin-top: 1em;
}

.score-icon {
  margin-right: 1.5em;
}

#profile-personal-info ul{
  display: block;
}

#profile-personal-info h2 {
  display: block;
  text-align: center;
}

#report-message {
  flex-direction: column;
  height: auto;
  background-color: white;
  padding: .5em;
  text-align: center;
}

#report-message a {
  width: 250px;
  font-size: .6em;
  text-align: center;
  margin: auto;
}

#report-message-info {
  font-size: 1em;
  display: block;
  width: 100%;
}

#profile-nav li {
  font-size: .7em;
  line-height: 12px;
  align-items: center;
  padding: 5px;
}

#profile-nav li::before {
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 5px;
}

#previousReports h2 {
  font-size: 1em;
  padding: .3em 0;
}

#nav-container {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: white;
    bottom: 0;
}

#nav-container .logo {
  display: none;
}

#nav-container ul {
  display: flex;
  justify-content: space-around;
}

.main-nav {
    padding-top: 0;
    height: 100%;
}
.main-nav>.nav-item{
    width: 20%;
}
.active{
    border-right: none;
    border-top: 3px solid #006C3A;
}

main {
  padding: 0 0  70px 0;
}
.chart-container{
    width: 100%;
}
#report-page .page-header {
    width: 100%;
}
#save-changes{
    bottom: 80px;
}
#save-changes span{
    display: none;
}
.category{
    width: 100%;
}
.question{
    display: block;
    height: auto;
}
.question-text{
    width: 100%;
}
.question>input{
    width: 40%;
    height: 50px;
    text-align: center;
}
#cowsLast,#cowsNorm{
    display: none;
}
.comparison-wrapper{
    width: 100%;
    height: 80px;
}
.comparison-wrapper span{
    display: block;
    font-size: 0.6em;
}
.info-help{
    text-align: center;
}
}

@media only screen and (max-width: 480px) {

}
